.fac-loginstatus-wrapper { text-align: right; font-size: .8em; }
.fac-loginstatus-user { display: none; font-size: 1.5em; padding-right: .5em; }
.fac-loginstatus-login { display: none; }
.fac-loginstatus-logout {  }