.fac-crossacode-title {  }

.fac-cac-scen-table { width: 100%; }
.fac-cac-scen-td { width: 100%; }
.fac-cac-or { padding: .5em .5em 0 .5em; vertical-align: top; }
.fac-cac-code-entry td { vertical-align: top; padding: .1em .4em; }
.fac-cac-combination { padding: 0 .5em; }
.fac-cac-code-click { cursor: pointer; }
.fac-cac-warning { font-size: .8em; padding: 0 .5em; }